

@font-face {
    font-family: 'painter_personal_use_onlyRg';
    src: url('fonts/painter_personal_use_only-webfont.woff2') format('woff2'),
         url('fonts/painter_personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mlb_piratesregular';
    src: url('fonts/mlb_pirates_regular-webfont.woff2') format('woff2'),
         url('fonts/mlb_pirates_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family:'mlb_philadelphia_phillies_1Rg';
    src: url('fonts/mlbphiladelphiaphillies1980-webfont.woff2') format('woff2'),
         url('fonts/mlbphiladelphiaphillies1980-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  color: #000000;
  background-color: #EEEEEE;
  font-size: 1em;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2.6em;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
}


h2 {
  font-size: 1.6em;
  font-family: "Helvetica", "Arial", sans-serif;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.navbar {
  background-color: #333;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  top: 0;
  word-spacing: normal;
  width: 100%;
  height: 28px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: white;
}

.main {
  margin-top: 50px;
}

.usemap {
  display: block;
  width:auto;
  background: #EEEEEE;
  height:auto;

}

.phillies {
  color: black;
  background-color: #6BACE4;
  text-align: left;
}


.phillyheader h1 {
  color: #6F263D;
  font-family:'mlb_philadelphia_phillies_1Rg';
  margin-top: 50px;
  font-size: 4em;
}

.phillyheader h1 a{
    color: #6F263D;
}

.dodgers  {
  color: black;
  background-color: #006AB8;
  text-align: left;
}

.dodgersheader h1{
  margin-top: 50px;
  color: #EF3E42;
  font-family: 'painter_personal_use_onlyRg';
  font-size: 4em;
  text-shadow: 2px 2px 2px red;
}

.giants {
  color: black;
  background-color: #EFD19F;
  text-align: left;
}

.giantsheader h1 {
  font-family:'mlb_piratesregular';
  margin-top: 50px;
  color: #FD5A1E;
  font-size: 4em;
}


.page {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
}

.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: black;    /* Medium blue */
}

.footer {
  overflow: hidden;
  background-color: #EAEDF0;;
}

.content {
  padding: 20px;
}

p {
  margin-bottom: 20px;
}


.body1 {
color: #6F263D;
background-color: #6BACE4;
margin: 0;
padding: 0;
}

.body1 h1 {
  font-family:'mlb_philadelphia_phillies_1Rg';
  font-size: 3em;
}

.body2 {
  color: #EF3E42;
  background-color: #006AB8;
  margin: 0;
  padding: 0;

}

.body2 h1 {
  font-family: 'painter_personal_use_onlyRg';
  font-size: 3em;
  text-shadow: 1px 1px 1px red;
}

.giants1body {
  color: #FD5A1E;
  background-color: #EFD19F;
}

.giants1body h1 {
  font-family:'mlb_piratesregular';
  margin-top: 50px;
  font-size: 3em;
  text-align: center;
}
